/Day_2/node_modules/
/Day_2/dist/
/Day_2/.parcel-cache/

/Day_3/node_modules/
/Day_3/dist/
/Day_3/.parcel-cache/

/Day_4/node_modules/
/Day_4/dist/
/Day_4/.parcel-cache/

/Day_5/node_modules/
/Day_5/dist/
/Day_5/.parcel-cache/